<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style-error.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>ADPBSC - Programação da Semana</title>
</head>
<body>

    <header id="header">

        <div id="header-identification">
            <img id="logo" src="../assets/Painel_adm.png" alt="Logo da Assembléia de Deus">

            <div id="header-identification-text">
                <div class="textoLogo sigla">ADPB</div>
                <div class="textoLogo cidade"> Santa Cecília</div>
            </div>
        </div>

        <div id="header-nav-buttons">
            <a class="button" id="home" href="#">Início</a>
            <a class="button" id="gallery" href="#">Galeria</a>
            <a class="button" id="about" href="#">Sobre</a>
        </div>
  
    </header>

    <hr id="splitter">

    <main>
        <div id="viewcard">
            <img alt="Imagem de erro 404" id="error-image" src="../assets/not-found.svg"/>
            <h1>Erro 404</h1>
            <h2>Página não encontrada!</h2>
        </div>
    </main>
    
    <script src="../scripts/index-view.js"></script>
</body>
</html>