*{
    font-family: 'Open Sans','Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: #232B52FE;
}

#header{
    display: flex;
    margin: 15px 10px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    width: 90;
    justify-content:space-evenly;
    border-radius: 2px;
    margin-bottom: 15px;
}

#header-identification{
    margin-left: 4rem;
    display:flex;
    flex:1;
}

#header-identification-text{
    margin-left: 1rem;
}

#logo{
    width: 110px;
}

.textoLogo{
    color: #ecf0f1;
}

.sigla{
    font-size: 40px;
    letter-spacing: 0.35rem;
    font-weight: 600;
}

.cidade{
    text-align: left;
    font-size: 23px;
    font-weight: 300;
}

#header-nav-buttons{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
    
    
}

.button{
    border-radius: 20px;
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #232B52FE;
    width: 115px;
    height: 50px;
    font-weight: 00;
}

.hover{
    background-color: #ecf0f1;
    transition: all 0.35s ease;
    transition-delay: 50ms;
}

#home{
    color: #232B52FE;
}


#gallery{
    margin-left: 10px;
    color: #ecf0f1;
}

#about{
    color: #ecf0f1;
    margin-left: 10px;
}

#splitter {
    margin: auto;
    height: 0.13rem;
    width: 93vw;
    background-color: #ecf0f1;
}

main{
    justify-content: center;
    display: flex;
    width: calc(80vw - 10px);
    height: calc(80vh - 10px);
    margin: 20px auto 10px auto;
    border-radius: 5px;
    overflow: hidden;
}

.card:hover{
    cursor: pointer;
}

#primaryCard{
    display: relative;
    background-color: white;
    width:40%;
    height: 100%;
    border-radius: 5px;
    margin-right: 10px;
}

#primaryCard #top{
    display: relative;
    top:0px;
    height: calc(91% - 50px);
}

#primaryCard #top #name{
    padding-left: 30px;
    margin-top:50px;
    font-size: 45px;
    font-style: bold;
}

#primaryCard #top #service{
    padding-left: 40px;
    margin-top: 10px;
    display: block;
    font-size: 20px;
    font-style: bold;
}


#primaryCard #bottom{
    height: 9%;
    bottom: 0px;   
}

#primaryCard #bottom hr{
    border: none;
    background-color: black;
    height: 0.005rem;
    width: 80%;
    margin: auto;
}

#primaryCard #bottom a{
    padding-top: 4px;
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
}

#secondCard{
    display: relative;
    background-color: white;
    width:40%;
    height: 100%;
    border-radius: 5px;
    margin-right: 10px;
}

#secondCard #top{
    display: relative;
    top:0px;
    height: calc(91% - 50px);
}

#secondCard #top #name{
    padding-left: 30px;
    margin-top:50px;
    font-size: 45px;
    font-style: bold;
}

#secondCard #top #service{
    padding-left: 40px;
    margin-top: 10px;
    display: block;
    font-size: 20px;
    font-style: bold;
}


#secondCard #bottom{
    height: 9%;
    bottom: 0px;   
}

#secondCard #bottom hr{
    border: none;
    background-color: black;
    height: 0.005rem;
    width: 80%;
    margin: auto;
}

#secondCard #bottom a{
    padding-top: 4px;
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
}

